*{
    margin: 0;
    padding: 0;
}

body{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.datetime{
    color: #cce0ff;
    background: #000;
    font-family: "Segoe UI", sans-serif;
    width: 330px;
    padding: 15px 10px;
    border: 3px solid #4d94ff;
    border-radius: 20px;
    -webkit-box-reflect: below 1px linear-gradient(trasparent, rgba(255, 255, 255, 0.1));
}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #4d94ff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 10px;
}