@import url('https://fonts.googleapis.com/css?family');

body {
  background-image:url('img/banner_2_blur.png');
}

/* Navigointipalkki */
#navigointi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#navigointi li {
  float: right;
}
#navigointi li a {
  display: block;
  color: red;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 125%;
}
#navigointi li a:hover {
  background-color: yellow;
}
#navigointi ul li[nykyinen] {
  background-color: yellow;
}

#navigointi img{
  width: auto;
  height: auto;
}

#navigointi form{
  padding-bottom: 1%;
  text-align: center;
}

input[type=submit]{
  background-color: yellow;
  border: none;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: red;
  color: black;
  transition-duration: 0.4s;
}

input[type=text]{
  background-color: yellow;
  border: none;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text]:hover{
  background-color: red;
  color: black;
  transition-duration: 0.4s;
}

#pizzaRoma {
  text-align: center;
  font-size: 300%;
  color: yellow;
  font-family: 'verdana';
}

#pizzaRoma1 {
  text-align: center;
  font-size: 300%;
  color: red;
  font-family: 'verdana';
}

#teksti {
  text-align: center;
  font-size: 200%;
  color: yellow;
  font-family: 'verdana';
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  margin: 0px 260px;
  background-color: black; 
  color: yellow; 
  border: 5px solid red;
}

.button1:hover {
  background-color: red;
  color: black;
}

.button2 {
  margin: 0px 280px;
  background-color: black; 
  color: yellow; 
  border: 5px solid red;
}

.button2:hover {
  background-color: red;
  color: black;
}

.button3 {
  margin: 0px 5px;
  background-color: yellow; 
  color: black; 
  border: 5px solid red;
}

.button3:hover {
  background-color: red;
  color: black;
}


.card{
  width: 800px;
  height: 550px;
  display: inline-block;
  border-radius: 30px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 95px 70px;
  background-image: url('img/fantasia_blur.png');
  background-position: center;
  background-size: cover;
  font-size: 180%;
  text-align: center;
  color: antiquewhite;
  filter: drop-shadow(8px 8px 10px black);
}

.card2{
  width: 800px;
  height: 550px;
  display: inline-block;
  border-radius: 30px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 100px 70px;
  background-image: url('img/pizza_blur.png');
  background-position: center;
  background-size: cover;
  font-size: 180%;
  text-align: center;
  color: antiquewhite;
  filter: drop-shadow(8px 8px 10px black);
}

form {
  width: 400px;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 20px;
  font-size: 25px;
  
}

input, textarea {
  padding: 12px;  
  margin: 6px 6px 6px 0;
}

input[type=reset] {
  background-color: red;
  color: yellow;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: yellow;
  color: black;
}
