@import url('https://fonts.googleapis.com/css?family');

body {
  background-color:antiquewhite;
}

/* Navigointipalkki */
#navigointi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;
}
#navigointi li {
  float: left;
}
#navigointi li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 125%;
}
#navigointi li a:hover {
  background-color: #f00;
}
#navigointi ul li[nykyinen] {
  background-color: #f00;
}

.navigointi a{
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pizzaRoma {
  font-size: 155%;
  color: #f00;
  font-family: 'verdana';
}

#header{
  height: 100vh;
  backround-image: url('');
  backround-size: cover;
  display: flex;
}

header{
  margin-top:20px;
  display: flex;
}
