@import url('https://fonts.googleapis.com/css?family');

body {
  background-image:url('img/banner_2_blur.png');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* Navigointipalkki */
#navigointi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#navigointi li {
  float: right;
}
#navigointi li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
}
#navigointi li a:hover {
  background-color: yellow;
}
#navigointi ul li[nykyinen] {
  background-color: yellow;
}

#pizzaRoma {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}

#teksti {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  background-color: rgba(0,0,0,0.7);
  color: antiquewhite;
  font-size: 150%;
}

.price {
  list-style-type: none;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: red;
  color: black;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: black;
  color: antiquewhite;
  font-size: 20px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black; 
  color: yellow; 
  border: 5px solid red;
}

.button:hover {
  background-color: red;
  color: black;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}