@import url('https://fonts.googleapis.com/css?family');

body {
  background-image:url('img/banner_2.png');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
main {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 1100px;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
}

/* Navigointipalkki */
#navigointi {
  white-space: nowrap;
}
#navigointi ul {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  background-color: black;
}
#navigointi li {
  float: right;
}
#navigointi li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
}
#navigointi li a:hover {
  background-color: yellow;
}
#navigointi ul li {
  list-style-type: none;
    display: flex;
}
#navigointi ul li[aria-current] {
  background-color: yellow;
}
#navigointi ul li a {
  display: flex;
  text-decoration: none;
  padding: 1em;
  align-items: center;
  font-size:100%;
  letter-spacing: 0.6px;
  text-shadow: 0.3px 0.3px;
  font-weight: 400;
}

#pizzaRoma {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}

#teksti {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}

/* Pizzantilausprosessi CSS */
#pizzaTilaus button {
  border-radius: 8px;
  background-color: antiquewhite;
  cursor: pointer;
  text-decoration:none;
  padding: 10px;
  transition-duration: 0.4s;
}
#pizzaTilaus button:hover {
  font-size:105%;
}
#pizzaTilaus input {
  border-radius:5px;
  background-color: beige;
}
#pizzaTilaus {
  color:yellow;
}
#pizzaTilaus p{
  color: yellow;
}

#huvaksu {
  display:none;
}

/* Muuntaa checkboxit "toggle" mallisiksi */
.checkbox-kytkin {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 5px;
}
.checkbox-kytkin:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}
.checkbox-kytkin:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.checkbox-kytkin:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
.checkbox-kytkin:checked:after {
	background: yellow;
}

#lisaTayteRajaus {
  color:black;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: antiquewhite;
  box-sizing: content-box;  
  width: 250px;
  height: auto;
  padding: 5px;
}

#lisaTayteRajaus p {
  color:black;
  text-align: center;
  font-weight: lighter;
}
#juomaRajaus {
  color:black;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: antiquewhite;
  box-sizing: content-box;  
  width: 980px;
  height: auto;
  padding: 5px;
}
#juomaRajaus p {
  color: black;
  text-align: center;
  font-weight: lighter;
}

#yhteenvetoRajaus {
  color:black;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: antiquewhite;
  box-sizing: content-box;  
  width: 980px;
  height: auto;
  padding: 5px;
}
#yhteenvetoRajaus p {
  text-align: center;
}

#order-pizza-kuvat {
  width: 250px;
  height: 125px;
}

#iso-nappi {
  width: 265px;
}
#yhteenVeto {
  border-bottom: 1px solid grey;
}
