@import url('https://fonts.googleapis.com/css?family');

body {
  background-image:url('img/banner_2.png');
}

/* Navigointipalkki */
#navigointi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#navigointi li {
  float: right;
}
#navigointi li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 125%;
}
#navigointi li a:hover {
  background-color: yellow;
}
#navigointi ul li[nykyinen] {
  background-color: yellow;
}

#pizzaRoma {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}

#teksti {
  font-size: 155%;
  color: yellow;
  font-family: 'verdana';
}
/* Pizzantilausprosessi CSS */
#pizzaTilaus button {
  border-radius: 8px;
  background-color: antiquewhite;
  cursor: pointer;
  text-decoration:none;
  padding: 10px;
  transition-duration: 0.4s;
}

#pizzaTilaus button:hover {
  font-size:105%;
}

#pizzaTilaus input {
  border-radius:5px;
  background-color: beige;
}

#huvaksu {
  display:none;
}

#pizzaTilaus p{
  color: yellow;
}