@import url('https://fonts.googleapis.com/css?family');

body {
  background-image:url('img/banner_2_blur.png');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* Navigointipalkki */
#navigointi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
#navigointi li {
  float: right;
}
#navigointi li a {
  display: block;
  color: red;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
}
#navigointi li a:hover {
  background-color: yellow;
}
#navigointi ul li[nykyinen] {
  background-color: yellow;
}

#navigointi img{
  width: auto;
  height: auto;
}

#navigointi form{
  padding-bottom: 1%;
  text-align: center;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  color: antiquewhite;
  margin: 0;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

.login {
  margin: 50px auto;
  width: 320px;
}

.login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: black;
  border-top: 3px solid yellow;
  border-bottom: 3px solid red;
}

.login form span {
  background-color: red;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid antiquewhite;
  color: red;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.login form input[type="email"] {
  background-color: yellow;
  border-radius: 0px 3px 3px 0px;
  color: red;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}

.login form input[type="password"] {
  background-color: yellow;
  border-radius: 0px 3px 3px 0px;
  color: red;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}

.login form input[type="submit"] {
  background: red;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: yellow;
}