@import url('https://fonts.googleapis.com/css?family');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.home{
  height: 100vh;
}

.navigointi{
  display: flex;
  justify-content: space-around;
}

.navigointi .logo{
  padding: 15px 20px;
  font-size: 23px;
  font-family: 'Verdana';
}

.navigointi .navigoinnit ul li{
  display: inline-block;
  padding: 15px 20px;
}

.navigointi .navigoinnit ul li a{
}
