@import url('https://fonts.googleapis.com/css?family');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.koti{
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-around;
}

.navbar .logo{
  padding: 15px 20px;
  font-size: 23px;
  font-family: 'Verdana';
}

.navbar .navs ul li{
  display: inline-block;
  padding: 15px 20px;
}

.navbar .navs ul li a{
  color: #f00;
  font-size: 20px;
  font-family: 'Verdana';
}

.navbar .navs ul li a:hover{
  color: #000;
  font-family: 'Verdana';
  border-bottom: 1px solid #123;
  transition: 0.3s ease-in;
}
